@using Microsoft.AspNetCore.Mvc.Localization
@using VenueManagement.Localization
@inject IHtmlLocalizer<VenueManagementResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
